<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081804346757-rmek77g2dtq27tt7inu1p7nm52qmlbue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081804346757-rmek77g2dtq27tt7inu1p7nm52qmlbue</string>
	<key>API_KEY</key>
	<string>AIzaSyB4CwMl8S-ZEj0wvAlrYVOI0BQ6zdwSckA</string>
	<key>GCM_SENDER_ID</key>
	<string>1081804346757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.policeComplaintApp</string>
	<key>PROJECT_ID</key>
	<string>police-complaint-d8b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>police-complaint-d8b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081804346757:ios:186db872d22b8a32f220ec</string>
</dict>
</plist>